/*
* © 2024 Paul Le Gall. All Rights Reserved.
* This code is proprietary and confidential. Unauthorized copying, reproduction, or redistribution is strictly prohibited.
*/

.container {
    color: black;
    background-color: aliceblue;
    height: 50px;
    width: 90vw;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 50px;
    margin-top: 1em;
    z-index: 10;
}

.title {
    cursor: default;
    padding-left: 1em;
    font-size: 1.5rem;
}

.settings {
    cursor: pointer;
    padding-right: 1em;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.settingsGearIcon {
    height: 75%;
    transition: transform 0.5s;
}

.settingsGearIcon:hover {
    transform: rotate(90deg);
}
