.app {
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-color: #282c34;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.toggleButton {
    width: 120px;
    height: 120px;
    font-size: 70px;
    font-weight: bold;
    color: white;
    background-color: red;
    border: 2px solid transparent;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    transition: background-color 0.3s ease;
    font-family: powerButton;
}

.on {
    background-color: green;
}

.off {
    background-color: red;
}

.toggleButton[disabled] {
    position: relative;
}

.toggleButton[disabled]:before {
    content: '';
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    border-radius: 50%;
    border: 2px solid transparent;
    box-sizing: border-box;
    pointer-events: none;
    cursor: pointer;
    transition: border-color 0.1s ease;
}

.toggleButton[disabled][style*="--completedSteps: 1"]:before {
    border-top-color: white;
    border-right-color: white;
}

.toggleButton[disabled][style*="--completedSteps: 2"]:before {
    border-top-color: white;
    border-right-color: white;
    border-bottom-color: white;
}

.toggleButton[disabled][style*="--completedSteps: 3"]:before {
    border-top-color: white;
    border-right-color: white;
    border-bottom-color: white;
    border-left-color: white;
}

.macAddress {
    font-size: 24px;
    color: white;
    margin-top: 20px;
    text-align: center;
}

@font-face {
    font-family: 'PowerButton';
    src: url("./Components/fonts/Unicode_IEC_symbol.ttf");
}
