.header {
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    width: 100vw;
    display: grid;
    grid-template-columns: 20% 80%;
}

.navButton {
    margin: 0;
    padding: 0;
    justify-self: center;
    align-self: center;
}

.title {
    margin: 0;
    padding: 0;
    align-self: center;
    font-size: 30px;
    font-weight: 100;
    color: white;
    padding-left: 8px;
    user-select: none;
    -webkit-user-select: none;
    cursor: default;
    transform: translateY(2px);
}
