.header {
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    width: 100vw;
    background-color: #333;
    display: grid;
    grid-template-columns: 20% 80%;
}

.img {
    height: 38px;
    margin: 0;
    padding: 0;
}