/*
* © 2024 Paul Le Gall. All Rights Reserved.
* This code is proprietary and confidential. Unauthorized copying, reproduction, or redistribution is strictly prohibited.
*/

.settings {
    position: fixed;
    display: grid;
    top: 50px;
    left: 0;
    background-color: #282c34;
    color: white;
    text-align: center;
    height: calc(100vh - 50px);
    width: 100vw;
}

.settingList {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 8px;
}

.listElements {
    margin: 0;
    cursor: pointer;
    margin-top: 8px;
    margin-bottom: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 22px;
    padding-right: 22px;
    border-bottom: 1px solid #282c34;
}

.listElements:hover {
    background-color: #3e4451;
    transition: 0.1s;
}

.beta {
    color: #ff8543;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    margin-bottom: 5px;
    user-select: none;
    -webkit-user-select: none;
    cursor: default;
    font-size: 10px;
}

.back {
    color: #ffffff;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    margin-bottom: 15px;
    user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
    font-size: 22px;
}